.row
  .column
    %h2.ui.header
      Visão Geral
      .sub.header
        Visualização Geral
.divider

-# .ui.cards
-#   .card
-#     .content
-#       .header Clínicas
-#       .meta Total cadastrado
-#       .description
-#   .card
-#     .content
-#       .header Exames
-#       .meta Total cadastrado
-#       .description
-#   .card
-#     .content
-#       .header Pacientes
-#       .meta Total cadastrado
-#       .description
